.auth__heading {
    border-left: 5px solid #F8D442;
    padding-left: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;


}

.auth--heading--box {
    display: flex;
    justify-content: center;
}

.auth__text {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 30px;
}

.auth__text1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6C6C6C;
    margin-top: 20px;
    display: flex;
    justify-content: center;

}