.sudetnt-page--add{
    padding-top: 30px;
    padding-bottom: 15px;
}

.form--card{
    background-color: white;
    border-radius: 5px;
    padding: 10px 0 12px 10px;
    margin-top: 20px;
    /* width: 60%; */
    font-size: 20px;
    text-align: center;
    

}

#task_title{
    width: 700px;
    padding: 10px;
    border: 1px solid rgb(225, 224, 224);
    overflow: hidden;
    outline: none;
    background-color: #E5E5E5;
    border-radius: 5px;
}
#task_email{
    width: 700px;
    padding: 10px;
    border: 1px solid rgb(225, 224, 224);
    overflow: hidden;
    outline: none;
    background-color: #E5E5E5;
    border-radius: 5px;
}

#task_phone{
    width: 700px;
    padding: 10px;
    border: 1px solid rgb(225, 224, 224);
    overflow: hidden;
    outline: none;
    background-color: #E5E5E5;
    border-radius: 5px;
}

#task_enroll{
    width: 700px;
    padding: 10px;
    border: 1px solid rgb(225, 224, 224);
    overflow: hidden;
    outline: none;
    background-color: #E5E5E5;
    border-radius: 5px;
}
#task_date{
    width: 700px;
    padding: 10px;
    border: 1px solid rgb(225, 224, 224);
    overflow: hidden;
    outline: none;
    background-color: #E5E5E5;
    border-radius: 5px;
}

.form--card__btn{
    background-color: yellowgreen;
    color: green;
    padding: 8px 10px;
    border-radius: 20px;
    border: none;
    width: 150px;
}

.addCanselbtn{
    border-radius: 25px;
    padding: 8px 12px;
    border: none;
    border:1px solid #E5E5E5;
    background-color: yellowgreen;
    color: #fff;
    cursor: pointer;
}
.edit--btn{
    background-color: #E5E5E5;
    border: none;
    cursor: pointer;
}


.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
}

.subject-list {
    margin-top: 20px;
}

.subject-list ul {
    list-style-type: none;
    padding: 0;
}

.subject-list li {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}
