.sider {
    float: left;
    width: 270px;
    height: 100vh;
    background-color: #F2EAE1;
    position: fixed;
}

.sider-heading1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding: 0 26.5px 0 10px;
    margin-left: 25px;
    margin-top: 18px;
    margin-bottom: 27px;
    color: #000000;
    border-left: 4px solid #F8D442;
}

.sider-img {
    /* width: 141px; */
    height: 214px;
    margin-bottom: 50px;

}

.sider-heading3 {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    color: #000000;
    text-align: center;
    padding: 0 40px;
    margin-right: 0;
    margin-top: 18px;
}

.sider-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FEAF00;
    padding: 0 107px 0 105px;
    margin-top: 10px;

}

.sider-box {
   
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 10px 38px;
    padding: 11px 50px 13px 0;
    text-align: center;
    display: flex;
    width: 193px;
    height: 41px;
    margin-bottom: 20px;
}
.sider-box:hover{
    background: #FEAF00;
    border-radius: 4px;
}
.sider-box:active{
    background: #FEAF00;
    border-radius: 4px;
}
.sider-box__text {
    padding-left: 15px;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
    background-color: #FFFFFF;
    float: right;
    width: calc(100% - 270px);
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-box--search {
    border: none;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    padding: 9px 15px 11px 8px;
    width: 212px;
    height: 37px;
    margin-top: 12px;
    margin-bottom: 11px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
    outline: none;
}